/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
  }
  
  h2 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
  }
  
  /* Table pour la liste des templates */
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 10px 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f7f7f7;
    color: #555;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Style des boutons */
  button {
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:nth-child(2) {
    background-color: #dc3545;
  }
  
  button:nth-child(2):hover {
    background-color: #b02a37;
  }
  
  /* Formulaire */
  form {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  }
  
  form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #444;
  }
  
  form input,
  form .ql-container {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  form input:focus,
  form .ql-container:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  form button {
    display: inline-block;
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
  }
  
  form button:hover {
    background-color: #218838;
  }
  
  /* Notifications Toastify */
  .Toastify__toast {
    font-size: 14px;
  }
  
  .Toastify__toast--success {
    background-color: #28a745;
  }
  
  .Toastify__toast--error {
    background-color: #dc3545;
  }
  .row {
    display: flex; /* Pour placer deux champs côte à côte */
    justify-content: space-between;
    margin-bottom: 15px; /* Espacement entre les lignes */
  }
  .column {
    flex: 1; /* Chaque champ occupe 50% de l'espace disponible */
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  .column:last-child {
    margin-right: 0; /* Évite l'espace supplémentaire à droite */
  }