.sidebar {
    width: 15%;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #333;
    border-right: 1px solid #ddd;
    position: fixed; 
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .divider {
  position: absolute;
  left:0px; 
  right: 0%;
  top: 9.8%;
  height: 1px;
  background-color: #ddd;

}
  
  
  .menu ul {

    list-style: none;
    padding: 0;
    margin-top: 5%;
  }
  
  .menu ul li {

    padding: 10px 0;
    color: #555;
    cursor: pointer;
  }
  
  .projects {
  
    margin-top: 30px;
  }
  
  .projects h4 {

    font-size: 1em;
    color: #888;
    margin-bottom: 10px;
  }
  
  .projects ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .project {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    cursor: pointer;
  }
  
  .project.active {
    background-color: #e0e4ff;
    border-radius: 5px;
    color: #4a4df7;
  }
  .thoughts-time-container {
    position: relative;
    display: inline-block;
    margin-top: auto;
  }
  
  .circle {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background-color: #F5F5F5; 
    border-radius: 50%;


  }
  .circle2 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background-color: #ffd700;
    border-radius: 50%;
    opacity: 0.3;
    filter: blur(10px);

  }
  .lamp-icon {
    font-size: 24px; 
    color: #ffd700;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 

    
}

  
  .thoughts {
    padding-top: 50px;
   padding-left:20px;
   padding-right:20px;
   padding-bottom:20px;
    background-color: #F5F5F5;
  
    margin-top: auto;
    border-radius: 8px;
    text-align: center;
  }
  
  .thoughts h5 {
    font-size: 1em;
    color: #333;
    margin: 0 0 10px;
  }
  
  .thoughts p {
    font-size: 0.9em;
    color: #666;
  }
  
  .thoughts button {
    margin-top: 10px;
    width: 80%;
    padding: 5%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-pic {
    width: 35px;
    height: 35px;
    background-color: #ccc;
    border-radius: 50%;
  }
  